---
import MarkdownHeader from "./MarkdownHeader.astro";

interface Props {
  title: string;
  description: string;
  date?: Date;
  tags?: string[];
  slug: string;
  hideHeader?: boolean;
  hideLinks?: boolean;
}

const {
  title,
  description,
  date,
  tags,
  slug,
  hideHeader = false,
  hideLinks = false,
} = Astro.props;
---

<section
  data-pagefind-body
  class="max-w-3xl w-full my-10 md:my-20"
  transition:name={`post-${slug}`}
>
  <header class="px-3">
    {
      !hideHeader && (
        <>
          <MarkdownHeader
            title={title}
            description={description}
            date={date}
            tags={tags}
            hideLinks={hideLinks}
          />
          <hr class="mb-5 mt-3 dark:border-neutral-500 border-neutral-400" />
        </>
      )
    }
  </header>
  <article
    class="min-w-full rounded-lg bg-neutral-50 border dark:border-transparent dark:bg-neutral-800 p-5 pt-2 prose prose-pre:relative prose-pre:bg-zinc-800 dark:prose-pre:bg-neutral-900 prose-pre:px-0 prose-hr:border-neutral-300 dark:prose-hr:border-neutral-600 prose-headings:font-semibold prose-img:rounded-lg prose-img:my-0 prose-code:after:contents prose-code:before:contents prose-neutral dark:prose-invert prose-li:my-0 first:prose-p:mt-3"
  >
    <slot />
  </article>
</section>
