---
import LinkButton from "./LinkButton.astro";
import DevlyIcon from "./icons/DevlyIcon.astro";
import FirstPageIcon from "./icons/FirstPageIcon.astro";
import LastPageIcon from "./icons/LastPageIcon.astro";
import NavigationNextIcon from "./icons/NavigationNextIcon.astro";
import NavigationPrevIcon from "./icons/NavigationPrevIcon.astro";
// Pagination Props type helpers
export type NumericalString = `${number}`;
export type RouteString = string | null | undefined;

interface Props {
  firstPage?: RouteString;
  previousPage?: RouteString;
  nextPage?: RouteString;
  lastPage?: RouteString;
  currentPage?: string | number;
  totalPages?: NumericalString | number;
}

const {
  firstPage = null,
  previousPage = null,
  nextPage = null,
  lastPage = null,
  currentPage = null,
  totalPages = null,
} = Astro.props;
---

<nav class="flex flex-row gap-1 items-center" transition:name={`pagination`}>
  {
    firstPage ? (
      <LinkButton href={firstPage} title="Go to the first page" class="p-0.5">
        <FirstPageIcon class="h-7 w-7" />
      </LinkButton>
    ) : (
      <div class="p-0.5">
        <FirstPageIcon class="h-7 w-7 dark:fill-neutral-600 fill-neutral-200" />
      </div>
    )
  }
  {
    previousPage ? (
      <LinkButton
        href={previousPage}
        title="Go to the first page"
        class="p-0.5"
      >
        <NavigationPrevIcon class="h-7 w-7" />
      </LinkButton>
    ) : (
      <div class="p-0.5">
        <NavigationPrevIcon class="h-7 w-7 dark:fill-neutral-600 fill-neutral-200" />
      </div>
    )
  }
  <div class="mx-5 font-medium text-sm sm:text-base">
    <span>Página {currentPage} de {totalPages}</span>
  </div>
  {
    nextPage ? (
      <LinkButton href={nextPage} title="Go to the first page" class="p-0.5">
        <NavigationNextIcon class="h-7 w-7" />
      </LinkButton>
    ) : (
      <div class="p-0.5">
        <NavigationNextIcon class="h-7 w-7 dark:fill-neutral-600 fill-neutral-200" />
      </div>
    )
  }
  {
    lastPage ? (
      <LinkButton href={lastPage} title="Go to the first page" class="p-0.5">
        <LastPageIcon class="h-7 w-7" />
      </LinkButton>
    ) : (
      <div class="p-0.5">
        <LastPageIcon class="h-7 w-7 dark:fill-neutral-600 fill-neutral-200" />
      </div>
    )
  }
</nav>
