---
import NavigationCard from "@components/NavigationCard.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/sort";
import { slug } from "@utils/utils";
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  const collections = [
    ...new Set(posts.map((post) => post.data.collection)),
  ].filter((collection) => collection !== undefined);

  return collections.map((collection) => {
    const filteredPosts = sortPosts(
      posts.filter(
        (post) => slug(post.data.collection ?? "") === slug(collection ?? "")
      ),
      { filterNonPublished: false, sortDirection: "ASC" }
    );
    return {
      params: {
        collection: slug(collection ?? ""),
      },
      props: { posts: filteredPosts, collection },
    };
  });
}) satisfies GetStaticPaths;

interface Props {
  posts: CollectionEntry<"blog">[];
  collection: string;
}

const { collection, posts } = Astro.props;
---

<Layout
  title={`${collection} | Uriel Spiridione`}
  description={`Posteos de ${collection}`}
>
  <main class="flex items-center flex-col">
    <section class="max-w-3xl w-full my-20">
      <Title>{collection}</Title>
      <ul class="flex flex-col gap-3 px-5 mt-8">
        {
          posts.map((post) => (
            <li>
              <NavigationCard
                label={post.data.title}
                href={`/collections/${slug(collection)}/${post.slug}`}
              />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
