---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import Markdown from "@components/markdown/Markdown.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<Layout title={post.data.title} description={post.data.description}>
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col my-10 md:my-20"
  >
    <Markdown
      title={post.data.title}
      description={post.data.description}
      date={post.data.date}
      tags={post.data.tags}
      slug={post.slug}
    >
      <slot />
    </Markdown>
  </main>
</Layout>
