---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import MarkdownHeader from "./components/MarkdownHeader.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<Layout title={post.data.title} description={post.data.description}>
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col"
  >
    <section
      data-pagefind-body
      class="max-w-3xl w-full my-10 md:my-20 prose prose-pre:bg-neutral-900 prose-pre:px-0 prose-hr:border-neutral-300 dark:prose-hr:border-neutral-600 prose-headings:font-semibold prose-img:rounded-lg prose-img:my-0 prose-code:after:contents prose-code:before:contents prose-neutral dark:prose-invert prose-li:my-0"
      transition:name={`post-${post.slug}`}
    >
      <header class="not-prose px-3">
        <MarkdownHeader
          title={post.data.title}
          description={post.data.description}
          date={post.data.pubDate}
          tags={post.data.tags}
        />
        <hr class="mb-5 mt-3 dark:border-neutral-500 border-neutral-400" />
      </header>
      <article
        class="rounded-lg bg-neutral-50 border dark:border-transparent dark:bg-neutral-800 p-5 pt-2 first:prose-p:mt-3"
      >
        <slot />
      </article>
    </section>
  </main>
</Layout>
<style is:global lang="scss">
  code {
    &:not(pre code) {
      @apply dark:bg-neutral-900 bg-neutral-200/75 rounded-md px-1;
    }
  }
  p:has(img) {
    @apply flex items-center justify-center;
  }
  [data-line] {
    @apply px-4 whitespace-break-spaces;
  }
  [data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-blue-400 border-l-4;
  }

  [data-highlighted-chars] {
    @apply bg-zinc-600/50 rounded;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
  }

  [data-chars-id] {
    @apply shadow-none p-1 border-b-2;
  }

  [data-chars-id] span {
    @apply text-inherit;
  }
</style>
