---
import Layout from "./Layout.astro";
import Markdown from "@components/markdown/Markdown.astro";

interface Props {
  id: string;
  title: string;
  description: string;
  date?: Date;
  tags?: string[];
}

const { id, title, description, date, tags } = Astro.props;
---

<Layout title={title} description={description}>
  <main
    class="text-neutral-800 dark:text-neutral-200 flex items-center flex-col my-10 md:my-20"
  >
    <Markdown
      id={id}
      title={title}
      description={description}
      date={date}
      tags={tags}
    >
      <slot />
    </Markdown>
  </main>
</Layout>
